@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@600&display=swap');

/* General Styles */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #f3f4f6, #e0e2e7); /* Gradient background */
    font-family: 'Arial', sans-serif;
}

.login-container {
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.login-heading{
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.login-type-section {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

.user-type .MuiFormControlLabel-root {
    font-size: 0.875rem;
    color: #555;
}

.user-type .MuiFormControlLabel-root .MuiRadio-root {
    color: #007bff;
}

.login-button {
    background-color: #007bff; /* Blue color */
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.signup {
    text-align: center;
    color: #555;
}

.signup a {
    color: #007bff; /* Blue color for link */
    text-decoration: none;
    font-weight: bold;
}

.signup a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 480px) {
    .login-container {
        padding: 20px;
    }

    .login-heading {
        font-size: 1.5rem; /* Adjusted font size for smaller screens */
    }

    .user-type {
        flex-direction: column;
        gap: 10px;
    }

    .user-type .MuiFormControlLabel-root {
        font-size: 0.75rem; /* Adjusted font size for smaller screens */
    }

    .login-button {
        padding: 10px;
        font-size: 0.875rem; /* Adjusted font size for smaller screens */
    }
}
